certifi
chardet
click
dataclasses
fasttext
filelock
future
gensim
idna
joblib
lxml
numpy
packaging
pandas
protobuf
pybind11
pyparsing
python-dateutil
pytz
regex
requests
sacremoses
scipy
sentencepiece
six
smart-open
tokenizers
torch
tqdm
transformers
typing-extensions
urllib3
